html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

:root {
    --primary-color: #1c2c54;
    --secondary-color: #010402;
    --accent-color: #4bc3b5;
    --extra-color: #d175b7;
    --font-color: white;
    --bg-color: #4bc3b5;
}

[data-theme="dark"] {
    --primary-color: #581845;
    --secondary-color: #AD1D45;
    --accent-color: #1A1A2E;
    --extra-color: #278EA5;
    --font-color: #e1e1ff;
    --bg-color: #1A1A2E;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background: var(--bg-color);
}

/* slider */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .darkText {
      margin-left: 10px;
      color: var(--secondary-color);
      font-weight: 600;
  }

/* Top Header | Grid */

.nameInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.nameInputFrame {
    background: var(--font-color);
    width: max-content;
    font-size: 1.6rem;
    border-radius: 20px;
    border-style: none;
    box-shadow: 1px 1px 5px black;
    outline: none;
}

.nameInput {
    background: var(--font-color);
    margin-left: 10px;
    padding: 10px;
    font-size: 1.6rem;
    border-style: none;
    outline: none;
    font-weight: 600;
}

.nameInputBtn {
    font-size: 1.6rem;
    margin: 3px;
    width: 100px;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
    background: var(--extra-color);
    outline: none;
    transition: all 0.3s;
}

.nameInputBtn:hover {
    background: var(--accent-color);
    color: var(--secondary-color);
    font-size: 1.8rem;
    transform: scale(1.05);
}

.resetBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
}

.resetBtn:hover{
    transform: scale(1.1);
    color: var(--secondary-color);
    background: var(--accent-color);
    font-weight: 550;
}

.gridBtnContainer, .gameDifficulty {
    display: flex;
    background: var(--primary-color);
    height: 10vh;
    align-items: center;
    justify-content: center;
    outline: none;
}

.gridBtn, .difBtn, .resetBtn {
    font-size: 2rem;
    font-weight: 600;
    margin: 30px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background: var(--extra-color);
    outline: none;
    transition: all 0.3s;
}

.gridBtn:hover, .difBtn:hover {
    transform: scale(1.1);
    background: var(--accent-color);
    color: var(--secondary-color)
}

.btnClicked {
    background: var(--accent-color);
    color: var(--secondary-color);
    outline: none;
}

/* Top Header | Difficulty */

.gameDifficulty {
    margin-top: 5px;
}

.hide {
    display: none;
}

/* Main Game Play */

.gridContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid9, .grid16, .grid25  {
    display: grid;
    justify-content: center;
    max-width: max-content;
    box-shadow: 1px 1px 5px black;
    margin: 10px;
}

.grid9 {
    grid-template: repeat(3, 100px) / repeat(3, 100px);
}

.grid16 {
    grid-template: repeat(4, 100px) / repeat(4, 100px);
}

.grid25 {
    grid-template: repeat(5, 100px) / repeat(5, 100px);
}

.box {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: var(--secondary-color);
    height: 100px;
    width: 100px;
    border: 2px solid var(--primary-color);
}

.bombBox {
    content: url(./picture/bomb.png);
    height: 50px;
    width: 50px;
}

.itBox {
    background: var(--primary-color);
    font-size: 2rem;
}

.ptBox5 {
    color: green;
}

.ptBox10 {
    color: darkblue;
}

.ptBox20 {
    color: yellow;
}

p {
    font-weight: 600;
    font-size: 2.8rem;
}

/* Reward Box */

.resultBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(1,4,2,0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.resultValue, .restart {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 10px;
    color: var(--font-color);
}

.resultBtn {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px;
    width: 160px;
    height: 60px;
    margin: 5px;
    background: var(--extra-color);
    border: 2px solid var(--extra-color);
    border-radius: 20px;
    box-shadow: 1px 1px 5px var(--extra-color);
    transition: all 0.3s;
    outline: none;
}

.resultBtn:hover {
    transform: scale(1.1);
    background: var(--accent-color);
    color: var(--secondary-color)
}


/* Main game Footer */

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: var(--primary-color);
    margin: 0;
}


.playBtn {
    font-weight: 600;
    font-size: 2.4rem;
    border: 2px solid var(--primary-color);
    box-shadow: 1px 1px 5px var(--extra-color);
    padding: 15px;
    border-radius: 10px;
    background: var(--extra-color);
    border-color: var(--extra-color);
    transition: transform 0.2s;
    outline: none;
}

.playBtn:hover {
    transform: scale(1.1);
    color: var(--secondary-color);
    background: var(--accent-color);
}

.scoreContainer, .stageContainer , .lifeContainer {
    text-align: center;
    margin: 0;
    color: var(--accent-color);
}

.scorePoints, .footerBoard, .level, .life, .stagePoints, .lifePoints {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 10px;
    text-shadow: 1px 1px 3px var(--primary-color);
}

/* Crusher */

.crusherContainerMain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.crusherContainer {
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
}

.crusher {
    height: 50px;
    width: 50px;
    position: relative;
}

.crusherRight {
    transform: scaleX(-1);
}

.hostage {
    height: 50px;
    width: 50px;
}

/* Shop */
.buyText {
    color: var(--font-color);
    font-size: 2rem;
    text-shadow: 0 0 2px 2px black;
}

/* HighScore Board */

.highScoreMainContainer, .gameRuleContainer {
    display: flex;
    width: 40%;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin: 20px;
}

.highScoreBoard {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 30px 0 10px 0;
    text-shadow: 1px 1px 3px var(--primary-color);
    color: var(--secondary-color);
}

.highScorePoints, .highScoreName {
    font-size: 2rem;
    text-transform: capitalize;
    margin: 5px 0;
    text-shadow: 1px 1px 3px var(--primary-color);
    color: var(--secondary-color);
}

.gameRuleContainer {
    width: 40%;
    right: 0;
}

.gameRuleTitle {
    color: var(--secondary-color);
    font-weight: 600;
    cursor: pointer;
}

.gameRuleIcon {
    position: relative;
    top: 4px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    transform: rotate(90deg);
}


@media screen and (max-width: 1080px) {
    .highScoreMainContainer, .gameRuleContainer, .gameRuleContainer {
        width: 25%;
}}


/* Tutorial */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(1,4,2,0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.slideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideText {
    color: var(--font-color);
    font-size: 1.4rem;
    list-style: none;
    padding: 8px 12px;
    bottom: 8px;
    margin: 5px;
    text-align: center;
}

.slideTitle {
    font-size: 2rem;
    color: gold;
    width: 500px;
}

.cross {
    position: relative;
    bottom: 50px;
    left: 100px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    transform: rotate(90deg);
    transition: all 300ms;
    background-color: white;
}

.cross:hover{
    transform: rotate(45deg);
}

.slideImage {
    height: 220px;
    width: 240px;
    margin-left: 50px;
}